* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Trebuchet MS, sans-serif;
  background-color: grey;
}

.body-of-complete-social-card {
  width: 80%;
  margin: 20px;
  padding: 20px;
}

.white-round-box {
  align-self: center;
  height: 300px;
  padding: 10px;
  background-color: white;
  margin: 20px;
  border-radius: 50px;
}

.box--white {
  background-color: white;
  align-self: center;
}

.astronaut-pic {
  padding: auto;
  width: 260px;
  align-self: left;
}
