* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: grey;
}

body {
  font-family: Trebuchet MS, sans-serif;
  background-color: grey;
}

.complete-social-card {
  margin: auto;
  border: 2px;
  padding: 20px;
  background-color: grey;
}

.white-box {
  background-color: red;
  box-sizing: border-box;
  width: 200px;
  height: 600px;
  border: 40px;
  border-radius: 50px;
  padding: 10px;
}

.box {
  box-sizing: box;
  width: 700px;
  height: 300px;
  padding: 20px;
  border: 30px;
  border-radius: 50px;
  background-color: white;
}
