* {
  box-sizing: border-box;
}

body {
  font-family: Trebuchet MS, sans-serif;
  font-size: 10px;
  background-color: grey;
}

.complete-social-card {
  width: 80%;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  border-radius: 30px;
}

.github-title {
  color: midnightblue;
  font-size: 2.5rem;
}

.cool-repos-text {
  font-size: 1.5rem;
  font-style: bold;
}

.myaccount-text {
  font-size: 1.2rem;
  font-style: italic;
}

button {
  border: none;
  color: blue;
  background-color: white;
}
