/* .journalEntry-date {
  text-align: left;
  color: var(--color-granite);
  grid-area: date;
  align-self: start; 
  margin-top: 0px;
}

.FavIcon__section {
  background-color: var(--color-water-10);
  box-sizing: border-box;
  grid-area: star;
  justify-self: end;
  align-self: start; 
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer; 
}

.journalEntry-motto {
  justify-content: center;
  align-items: center;
  color: var(--color-granite);
  grid-area: title;
  text-align: center; 
}

.journalEntry-notes {
  background-color: var(--color-water-10);
  color: var(--color-granite);
  grid-area: text;
  text-align: justify; 
  padding: 10px; 
} */
