.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  color: var(--color-water-10);
  background-color: var(--color-granite);
}
