.main {
  display: flex;
  flex-direction: column;
  background-color: var(--color-water-10);

  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;

  align-items: center;
  justify-content: flex-start;
}
