.form-textarea-input-label {
  width: 60vw;
  text-align: left;
  color: var(--color-granite);

  box-sizing: border-box;
  margin: 2px;
  border: 1px;
  padding: 2px;
}

.form-textarea-inputfield {
  width: 60vw;
  align-self: center;
  color: var(--color-water-10);

  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  font-style: italic;
}

.form-textarea-inputfield:hover {
  width: 60vw;
  align-self: center;
  color: var(--color-water-10);

  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  font-style: italic;

  box-shadow: 1px 1px 5px 2px var(--color-nemo);
}
