.FavIcon__section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-water-10);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-water-10);
  border-style: none;
}
