.list-of-entries {
  background-color: var(--color-water-10);
  /* border: 2px solid #000; */
  box-sizing: border-box;
  border-radius: 0px 0px 25px 25px;
  margin: 20px;
  margin-top: 0px;
  padding: 5px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.journalEntry-list-item {
  width: 80vw;

  overflow-x: auto;

  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 2px black;
  display: grid;
  gap: 2px;
  grid-template-rows: 12% 20% 68%;
  grid-template-areas:
    "date date date date star"
    "title title title title title"
    "text text text text text";
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.journalEntry-date {
  text-align: left;
  color: var(--color-granite);
  grid-area: date;
  align-self: start; /* Aligns the content to the top */
  margin-block: 0px;
  font-size: 12px;
}

.FavIcon-button {
  background-color: var(--color-water-10);
  box-sizing: border-box;
  grid-area: star;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  border-style: none;
}

.journalEntry-motto {
  justify-content: flex-start;
  height: fit-content;
  align-items: center;
  color: var(--color-granite);
  grid-area: title;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: 900;
}

.journalEntry-notes {
  color: var(--color-granite);
  grid-area: text;
  text-align: left;
  justify-content: flex-start;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}
