.greenbox-with-classname {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 2rem;
}

.greenbox-with-classname:hover {
  background-color: red;
}

.greenbox-with-classname--black {
  background-color: black;
}
